# nome do serviço sem o prefixo "mechanics-"
SERVICE_NAME=execution

# serviços externos
# aws elbv2 describe-load-balancers --names fiap-mechanics-dev --query "LoadBalancers[*].DNSName" --output text
IDENTITY=http://URL_LOAD_BALANCER
